.containerAuthor {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem auto;

  align-items: center;

  time,
  span {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--info);
    line-height: 1.059rem;
    margin-right: 1.5rem;
  }

  svg {
    width: 20px;
    height: 20px;
    color: var(--info);
    margin-right: 0.5rem;
  }
}

.previewButton {
  margin-top: 5.5rem;
  width: 100%;
  height: 58px;
  border-radius: 4px;
  border: 0;

  text-align: center;
  background: var(--heading);
  color: var(--background);

  font-weight: 600;
  font-size: 1.125rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.highlightButton {
  border: 0;
  background: transparent;
  color: var(--highlight);
}
