.contentContainer {
  width: 700px;
  height: 108px;

  margin: 4rem auto 3rem;

  section {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--highlight);
      }
    }

    h1 {
      font-weight: 700;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
      color: var(--heading);
      line-height: 2rem;
    }

    p {
      font-weight: 400;
      font-size: 1.125rem;
      color: var(--body);
      line-height: 1.361rem;
    }

    & + section {
      margin-top: 3rem;
    }

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
}
